<phpunit
  colors="true"
  verbose="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="true"
  processIsolation="true"
  syntaxCheck="true"
  >

  <testsuites>
    <testsuite name="Unit Tests">
      <directory>test/phpunit/unit/</directory>
    </testsuite>
     <testsuite name="Functional Tests">
       <directory>test/phpunit/functional/</directory>
    </testsuite>
  </testsuites>

  <logging>
<!--    <log type="coverage-html" target="cache/coverage" charset="UTF-8"
         yui="true" highlight="false"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-xml" target="cache/coverage.xml"/>-->
    <log type="json" target="cache/phpunit_logfile.json"/>
    <log type="tap" target="cache/phpunit_logfile.tap"/>
    <log type="junit" target="cache/phpunit_logfile.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="cache/phpunit_testdox.html"/>
    <log type="testdox-text" target="cache/phpunit_testdox.txt"/>
  </logging>

  <filter>
    <blacklist>
      <directory suffix=".php">lib/vendor</directory>
      <directory suffix=".php">cache</directory>
      <exclude>
        <directory suffix=".php">lib/vendor</directory>
      </exclude>

    </blacklist>
  </filter>

</phpunit>